{% extends 'usages/base.html' %}

{% block content %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Usages</h5>
				{% if latest_usage_list %}
				<table id="usageTable" class="table table-hover">
					<thead>
						<tr>
							<th>id</th>	
							<th>user</th>
							<th>machine type</th>
							<th>machine</th>
							<th>start</th>
							<th>end</th>
							<th>usage (Wh)</th>
						</tr>
					</thead>
					
					{% for usage in latest_usage_list %}
					<tbody>
						<tr>
							<td>{{ usage.id }}</td>
							<td>{{ usage.user }}</td>
							<td>{{ usage.machine_type }}</td>
							<td>{{ usage.machine }}</td>
							<td>{{ usage.start_time }}</td>
							<td>{{ usage.end_time }}</td>
							<td>{{ usage.total_usage }}</td>
						</tr>
					</tbody>
					{% endfor %}
				</table>
			{% else %}
				<span class="badge badge-secondary">No Usage Registered</span>
			{% endif %}
		</div>
	</div>
{% endblock content %}

{% block sidebar %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Filter</h5>
				{% if machine_type_list %}
					{% for machine_type in machine_type_list %}
						<button id="{{ machine_type.id }}" class="btn btn-hac mr-1 mb-1">{{ machine_type.machine_type_name }}</button>
					{% endfor %}
				{% else %}
					<span class="badge badge-secondary">No Machine Type Registered</span>
				{% endif %}
				
		</div>
	</div>
{% endblock sidebar %}

{% block javascript %}
var machine_type_set = new Set();
function reloadTable() {
	alert("reloading table");
	$("#usageTable").empty();
	var markup = "<thead>"+
					"<tr>"+
						"<th>id</th>"+
						"<th>user</th>"+
						"<th>machine type</th>"+
						"<th>machine</th>"+
						"<th>start</th>"+
						"<th>end</th>"+
						"<th>usage (Wh)</th>"+
					"</tr>"+
				"</thead>";
	$("#usageTable").append(markup);
	{% for usage in latest_usage_list %}
		if (machine_type_set.has("{{ usage.machine_type }}")) {
			markup = "<tbody>"+
						"<tr>"+
							"<td>{{ usage.id }}</td>"+
							"<td>{{ usage.user }}</td>"+
							"<td>{{ usage.machine_type }}</td>"+
							"<td>{{ usage.machine }}</td>"+
							"<td>{{ usage.start_time }}</td>"+
							"<td>{{ usage.end_time }}</td>"+
							"<td>{{ usage.total_usage }}</td>"+
						"</tr>"+
					"</tbody>";
			$("#usageTable").append(markup);
		}
	{% endfor %}
}
$(document).ready(function(){
	{% if machine_type_list %}
		{% for machine_type in machine_type_list %}
			machine_type_set.add("{{ machine_type.machine_type_name }}");
			$("#{{ machine_type.id }}").click(function(){
				if ($("#{{ machine_type.id }}").hasClass("btn-hac")) {
					$("#{{ machine_type.id }}").removeClass("btn-hac").addClass("btn-outline-hac");
					if (machine_type_set.has("{{ machine_type.machine_type_name }}")) 
						machine_type_set.delete("{{ machine_type.machine_type_name }}");
				}
				else {
					$("#{{ machine_type.id }}").removeClass("btn-outline-hac").addClass("btn-hac");
					if (!machine_type_set.has("{{ machine_type.machine_type_name }}")) 
						machine_type_set.add("{{ machine_type.machine_type_name }}");
				}
				reloadTable();
			});
		{% endfor %}
	{% endif %}
});
{% endblock javascript %}