{% extends 'base.html' %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-hac">
  <a class="navbar-brand mr-auto" href="/">Hardware Access Control (HAC)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Successfully Logged Out</h5>
      <a href='/'>Back to Home</a>
    
    </div>
  </div>

  
 

{% endblock %}