{% extends 'cards/base.html' %}

{% block content %}

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Add Card #{{ unregistered_card }} to User</h5>
			<form method="post">
				{% csrf_token %}
				Select user:
				{% for user in users_list %}
					<div class="radio">
						<label><input type="radio" name="selected_user" value="{{ user.id }}"> {{ user.username }}</label>
					</div>
				{% endfor %}
				<button class="btn btn-hac" type="submit">Add Card</button>
				</form>
		</div>
	</div>
	

{% endblock %}