{% extends 'cards/base.html' %}


{% block content %}
<div class="card mb-5" >
	<div class="card-body">
		<h5 class="card-title">Card List</h5>
		{% if cards_list %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>	
					<th>CardUID</th>
					<th>User</th>
				</tr>
			</thead>
			<tbody>
			{% for card in cards_list %}
				<tr>
					<td>{{ card.id }}</td>
					<td>{{ card.card_uid }}</td>
					<td>{{ card.user }}</td>
				</tr>
			{% endfor %}
			</tbody>			
		</table>
		{% else %}
			<span class="badge badge-secondary">No Card Registered</span>
		{% endif %}
	</div>
</div>

<div class="card">
	<div class="card-body">
		<h5 class="card-title">Unregistered Card List</h5>
		{% if unregistered_cards_list %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Card UID</th>
					<th>Tap Time</th>
					<th>Machine ID</th>
				</tr>
			</thead>
			{% for unregistered_card in unregistered_cards_list %}
			<tbody class="tbody-clickable" onclick="location.href = '{% url 'cards:card_add' unregistered_card.id%}';">
				<tr>
					<td>{{ unregistered_card.id }}</td>
					<td>{{ unregistered_card.card_uid }}</td>
					<td>{{ unregistered_card.tap_time }}</td>
					<td>{{ unregistered_card.machine_id }}</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>		
		{% else %}
			<span class="badge badge-secondary">No Unregistered Card Available</span>
		{% endif %}
		
	</div>	
</div>
{% endblock %}

