{% if card_list %}
	<table>
		<tr>
			<th>id</th>	
			<th>user</th>
			<th>carduid</th>
		</tr>
		{% for card in card_list %}
			<tr>
				<td>{{ card.id }}</td>
				<td>{{ card.user }}</td>
				<td>{{ card.card_uid }}</td>
			</tr>
		{% endfor %}
	</ul>
	<table>
{% else %}
	<p>No cards are available.</p>
{% endif %}

{% if unregistered_card_list %}
	<table>
		<tr>
			<th>id</th>	
			<th>machine</th>
			<th>carduid</th>
			<th>tap time</th>
		</tr>
		{% for unregistered_card in unregistered_card_list %}
			<tr>
				<td>{{ unregistered_card.id }}</td>
				<td>{{ unregistered_card.machine }}</td>
				<td>{{ unregistered_card.card_uid }}</td>
				<td>{{ unregistered_card.tap_time }}</td>
			</tr>
		{% endfor %}
	</ul>
	<table>
{% else %}
	<p>No unregistered cards are available.</p>
{% endif %}