{% extends 'machines/base.html' %}

{% block content %}
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Machines Type</h5>
		<table class="table">
			<tr>
				<th>Id</th>
				<td>{{ machine_type.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ machine_type.machine_type_name }}</td>
			</tr>
		</table>
	</div>
</div>

{% endblock content %}

{% block sidebar %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Action</h5>
		</div>
	</div>
{% endblock sidebar %}