{% extends 'machines/base.html' %}
{% load octicons %}

{% block content %}
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Machines Type</h5>
		<table class="table">
			<tr>
				<th>Id</th>
				<td>{{ machine_type.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ machine_type.machine_type_name }}</td>
			</tr>
		</table>
	</div>
</div>

{% endblock content %}

{% block sidebar %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Actions</h5>
			<table class="table table-hover">
				<tbody class="tbody-clickable" onclick="location.href = '{% url 'machines:type_update'  machine_type.id  %}';">
					<tr><td>{% octicon "pencil" %} Edit</td></tr>
				</tbody>
				<tbody class="tbody-clickable" onclick="location.href = '{% url 'machines:type_delete' machine_type.id%}';">
					<tr><td>{% octicon "trashcan" %} Delete</td></tr>
				</tbody>
				<tbody class="tbody-clickable" onclick="location.href = '{% url 'usages:usages_machine_type' machine_type.id %}';">
					<tr><td>{% octicon "telescope" %} View Usage</td></tr>
				</tbody>
				<tbody class="tbody-clickable" onclick="location.href = '{% url 'certifications:certification_machine_type_update' machine_type.id%}';">
					<tr><td>{% octicon "verified" %} Edit Access</td></tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock sidebar %}