{% extends 'certifications/base.html' %}
{% load octicons %}

{% block content %}
<div class="card">
	<div class="card-body">
		<h5 class="card-title">All Certifications</h5>
		{% if certification_list %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>User</th>
					<th>Machine Type</th>
				</tr>
			</thead>
			{% for certification in certification_list %}
			<tbody class="tbody-clickable" onclick="location.href = '{{ certification.id }}';">
				<tr>
					<td>{{ certification.id }}</td>
					<td>{{ certification.user }}</td>
					<td>{{ certification.machine_type }}</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
		{% else %}
			<span class="badge badge-secondary">No certification is registered</span><br>
		{% endif %}
		
		<a href="{% url "certifications:certification_add" %}">{% octicon "plus" %} Add New Certification</a>
		
	</div>
</div>

{% endblock %}

{% block sidebar %}
	

{% endblock sidebar %}